@import url('https://fonts.googleapis.com/css2?family=Hind&family=Montserrat&display=swap');

/* set initial values for border, padding, margin, taken from Love Running walkthrough project */

* {
    border: none;
    margin: 0;
    padding: 0;
}

body {
    font-family: Montserrat, sans-serif;
}

h1, h2, h3, #nav-links, #enter-button {
    font-family: Hind, sans-serif;
}

/*  Position and style header elements */

#main-heading {
    padding: 30px;  
    font-size: 80%;
    width: fit-content;    
}

a {
    text-decoration: none;
    color: whitesmoke;
}

#nav-links a {
    padding: 3px;
}

#nav-links {
    padding: 30px;
    position: absolute;
    right: 0px;
    top: 12.5px;    
}

.main-color {
    background-color: #57261c;
}

#main-heading a:hover, #nav-links a:hover {
    color:goldenrod;
}

/* Set background image on homepage */

#home-image {
    background: #0f5a41 url(../images/garden-path-marco-de-winter-unsplash-v5.jpeg) center center no-repeat;
    height: 1125px;
}

/* Style intro message  */

.intro-message {
    font-size: smaller;
    color: whitesmoke;
    width: 50%;
    border: 1px solid none;
    background: #0f5a41;
    position: relative;
    left: 20%;
    top: 10%;
    padding: 30px;
    border-radius: 4px;
}

#home-intro {
    background: rgba(15, 90, 65, 0.8);
}

/* Style and position enter button */

#enter-button {
    width: 60px;
    position: relative;
    top: 15%;
    left: 45%;
    border: 1px solid none;
    border-radius: 4px;
    padding: 5px;
    text-align: center;
}

